.titre_sec
{
	color:purple;
	text-decoration: underline;
}
li span{
font-weight:bold;
{
p
{font-size:20px;
font-family:comic sons ms;
text-align:justify;
}
 ul
{
    border: 3px gray solid;
box-shadow: 3px 3px 2px black;
 border-radius: 10px;
    
}

.sec{

    border: 3px gray solid;
box-shadow: 3px 3px 2px black;
 border-radius: 10px;
}  
h2{
text-shadow: 1px 1px 2px black;} 
a:hover{
font-style:italic;
color:green;} 
